<ul class="bullet-list">
    <!-- icon -->
    {% if section.settings.icon_01 != blank %}
    working
      <li class="bullet fade-in-up">
          <p class="diet-list-item">
              <img src="{{ section.settings.icon_01 }}" alt="vitafuel wellness icon">
              {{ section.settings.bullet_01 }}
          </p>
      </li>
    {% endif %}

    {% if section.settings.icon_02 != blank %}
      <li class="bullet fade-in-up">
          <p class="diet-list-item">
              <img src="{{ section.settings.icon_02 }}" alt="vitafuel wellness icon">
              {{ section.settings.bullet_02 }}
          </p>
      </li>
    {% endif %}

    {% if section.settings.icon_03 != blank %}
      <li class="bullet fade-in-up">
          <p class="diet-list-item">
              <img src="{{ section.settings.icon_03 }}" alt="vitafuel wellness icon">
              {{ section.settings.bullet_03 }}
          </p>
      </li>
    {% endif %}

    {% if section.settings.icon_04 != blank %}
      <li class="bullet fade-in-up">
          <p class="diet-list-item">
              <img src="{{ section.settings.icon_04 }}" alt="vitafuel wellness icon">
              {{ section.settings.bullet_04 }}
          </p>
      </li>
    {% endif %}

    {% if section.settings.icon_05 != blank %}
      <li class="bullet fade-in-up">
          <p class="diet-list-item">
              <img src="{{ section.settings.icon_05 }}" alt="vitafuel wellness icon">
              {{ section.settings.bullet_05 }}
          </p>
      </li>
    {% endif %}

    {% if section.settings.icon_06 != blank %}
      <li class="bullet fade-in-up">
          <p class="diet-list-item">
              <img src="{{ section.settings.icon_06 }}" alt="vitafuel wellness icon">
              {{ section.settings.bullet_06 }}
          </p>
      </li>
    {% endif %}
</ul>
