<div id="healthcare">

  {%- comment -%} PAGE TITLE {%- endcomment -%}
  <div class="healthcare-page-title">
    <div class="wrapper centertext">
  		<h1 class="trade_gothic_condensed_bold">{{ section.settings.hc_title }}</h1>
    </div>
  </div>

  {%- comment -%} FEATURE {%- endcomment -%}
  <div class="healthcare-feature trade_gothic py-2">
    <div class="wrapper page-width">
      <div class="inner">
        <div class="table">
          <div class="cell info">
            <h2 class="title trade_gothic_condensed_heavy text-white">{{ section.settings.s_one_title }}</h2>
            <h4 class="text text-white">{{ section.settings.s_one_text }}</h4>
          </div>
          <div class="cell image">
            {% capture img_id %}FeatureRowImage-{{ section.id }}{% endcapture %}
            {%- assign img_url = section.settings.s_one_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            {% render 'image-style' with image: section.settings.s_one_image, width: 545, height: 545, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
            <div id="{{ wrapper_id }}" class="feature-row__image-wrapper js">
              <a href="{{ section.settings.s_one_img_link }}">
                <img class="lazyload" id="{{ img_id }}"
                  src="{{ section.settings.s_one_image | image_url: width: 600 }}"
                  data-src="{{ section.settings.s_one_image | image_url }}" 
                  data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
                  data-aspectratio="{{ section.settings.s_one_image.aspect_ratio }}" 
                  data-sizes="auto" 
                  alt="{{ section.settings.s_one_image.alt | escape }}">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    {%- comment -%} ABOUT THE PRODUCT {%- endcomment -%}
    <div class="healthcare-about page-width py-2">
      <div class="inner">
        <div class="table">
          <div class="cell info">
            <h2 class="title trade_gothic_condensed_bold">{{ section.settings.s_two_title }}</h2>
            <p class="text">{{ section.settings.s_two_text }}</p>
            <a href="{{ section.settings.s_two_btn_url }}"
              target="_blank" 
              class="button blue">{{ section.settings.s_two_btn_title }}</a>
          </div>
          <div class="cell image">
            <div class="table">
              <div class="cell centertext">
              <img class="lazyload" id="{{ img_id }}" src="{{ section.settings.s_two_image | image_url: width: 600 }}"
                data-src="{{ section.settings.s_two_image | image_url }}"
                data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
                data-aspectratio="{{ section.settings.s_one_image.aspect_ratio }}" data-sizes="auto"
                alt="{{ section.settings.s_two_image.alt | escape }}">
              </div>
              <div class="cell bullets trade_gothic_bold">
                <ul>
                  <li>{{ section.settings.s_two_bullet_one_text }}</li>
                  <li>{{ section.settings.s_two_bullet_two_text }}</li>
                  <li>{{ section.settings.s_two_bullet_three_text }}</li>
                  <li>{{ section.settings.s_two_bullet_four_text }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    {%- comment -%} REQUEST FORM {%- endcomment -%}
    <div class="healthcare-form py-2">
      <div class="wrapper">
        <div class="inner text-white">
          <div class="cols">
            <div class="col one-third">
              <h2 class="title trade_gothic_condensed_heavy">{{ section.settings.s_three_title }}</h2>
              <h4 class="text">{{ section.settings.s_three_text }}</h4>
            </div>
            <div class="col one-third">
              <div class="table">
                <div class="cell">
                <img class="lazyload" id="{{ img_id }}" src="{{ section.settings.s_three_image | image_url: width: 600 }}"
                  data-src="{{ section.settings.s_three_image | image_url }}"
                  data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
                  data-aspectratio="{{ section.settings.s_one_image.aspect_ratio }}" data-sizes="auto"
                  alt="{{ section.settings.s_three_image.alt | escape }}">
                </div>
              </div>
            </div>
            <div class="col one-third">
              <h2>Form goes here</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    {%- comment -%} WHITE PAPER {%- endcomment -%}
    <div class="healthcare-white-paper page-width display-flexbox py-2">
        <div class="cell flex-half">
          <h2>{{ section.settings.s_four_title }}</h2>
          <h5>{{ section.settings.s_four_subtitle }}</h5>
          <p>{{ section.settings.s_four_text }}</p>
        </div>
        <div class="image display-flexbox flex-half flex-col flex-align-center">
          <a href="{{ section.settings.s_four_btn_url }}" target="_blank">
            <img loading="lazy" id="{{ img_id }}" src="{{ section.settings.s_four_image | image_url: width: 180 }}"
              data-src="{{ section.settings.s_four_image | image_url }}"
              data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
              data-aspectratio="{{ section.settings.s_one_image.aspect_ratio }}" data-sizes="auto"
              alt="{{ section.settings.s_four_image.alt | escape }}">
          </a>
          <a href="{{ section.settings.s_four_btn_url }}" target="_blank" class="button blue">{{ section.settings.s_four_btn_title }}</a>
        </div>
    </div>

    {%- comment -%} VIDEO {%- endcomment -%}
    <div class="healthcare-video py-2" id="wellness-protein">
      <div class="wrapper">
        <div class="inner page-width">
          <div class="table">
            <div class="cell">
              <div class='embed-container'><iframe src='https://www.youtube.com/embed/B5wCtpjZWR4?controls=0' frameborder='0'
                  allowfullscreen></iframe></div>
            </div>
            <div class="cell text">
              <h2 class="text-white">{{ section.settings.s_five_title }}</h2>
              <p class="text-white">{{ section.settings.s_five_text }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div id="hide">
    
    <!-- cta -->
    {%- comment -%}
    <div class="healthcare-cta">
      <div class="wrapper">
        <div class="inner centertext">
          <div class="table">
            <div class="cell">
              <div class="item">
                <img src="{{ 'healthcare-03.png' | asset_url }}" alt="" />
                <p>Download white paper:<br />Clinical and financial value of Oral Nutrition Supplement programs</p>
                <a href="https://cdn.shopify.com/s/files/1/0922/1906/files/2020-VIDAFUEL-White-Paper.pdf?v=1584484018" target="_blank" class="button">Download</a>
              </div>
            </div>
            <div class="cell">
              <div class="item">
                <img src="{{ 'VidaFuel-Protein-wCup_new.png' | asset_url }}" alt="" />
                <p>Shop our best-selling Protein Drinks!</p>
                <a href="/collections/all/protein-drinks?sort_by=title-descending" class="button">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {%- endcomment -%}
    <!-- distribution -->
    <div class="healthcare-distribution">
      <div class="wrapper">
        <div class="inner centertext">
          <div class="title uppercase">Distributed By</div>
          <img src="{{ 'healthcare-05.png' | asset_url }}" alt="" />
        </div>
      </div>
    </div>
    
    <!-- contact -->
    <div class="healthcare-contact">
      <div class="wrapper">
        <div class="inner centertext">
          <p>Have questions about our products?<br />Reach out to us anytime!</p>
          <p>customercare@vidafuel.com <span>|</span> (615) 430-8733</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "Content",
  "class": "healthcare",
  "settings": [
    {
      "type": "text",
      "id": "hc_title",
      "label": "Page title",
      "default": "NEW Protein Supplement"
    },
    {
      "type": "header",
      "content": "Section one"
    },
    {
      "type": "text",
      "id": "s_one_title",
      "label": "Title",
      "default": "Clinical nutrition done right"
    },
    {
      "type": "textarea",
      "id": "s_one_text",
      "label": "Subtext",
      "default": "Dietitian Developed for Optimal Absorption."
    },
    {
      "type": "image_picker",
      "id": "s_one_image",
      "label": "Image"
    },
    {
      "type": "url",
      "id": "s_one_img_link",
      "label": "Image URL"
    },
    {
    "type": "header",
    "content": "Section two"
    },
    {
      "type": "text",
      "id": "s_two_title",
      "label": "Title",
      "default": "Small but Mighty"
    },
    {
      "type": "textarea",
      "id": "s_two_text",
      "label": "Subtext",
      "default": "Not all proteins are equal. See how Vidafuel is superior."
    },
    {
      "type": "text",
      "id": "s_two_btn_title",
      "label": "Button title",
      "default": "Comp Chart"
    },
    {
      "type": "url",
      "id": "s_two_btn_url",
      "label": "Button URL"
    },
    {
      "type": "image_picker",
      "id": "s_two_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "s_two_bullet_one_text",
      "label": "Bullet one",
      "default": "17g of complete protein in 2oz"
    },
    {
      "type": "text",
      "id": "s_two_bullet_two_text",
      "label": "Bullet two",
      "default": "No dilution required"
    },
    {
      "type": "text",
      "id": "s_two_bullet_three_text",
      "label": "Bullet three",
      "default": "Easy to swallow texture"
    },
    {
      "type": "text",
      "id": "s_two_bullet_four_text",
      "label": "Bullet four",
      "default": "No artificial sweeteners or colors"
    },
    {
    "type": "header",
    "content": "Section three"
    },
    {
      "type": "text",
      "id": "s_three_title",
      "label": "Title",
      "default": "Request free samples for your patients"
    },
    {
      "type": "text",
      "id": "s_three_text",
      "label": "Subtext",
      "default": "Not all proteins are equal. See how Vidafuel is superior."
    },
    {
      "type": "image_picker",
      "id": "s_three_image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Section four"
    },
    {
      "type": "text",
      "id": "s_four_title",
      "label": "Title",
      "default": "The white paper"
    },
    {
      "type": "text",
      "id": "s_four_subtitle",
      "label": "Subtext",
      "default": "Clinical and financial value of Oral Nutrition Supplement programs."
    },
    {
      "type": "text",
      "id": "s_four_text",
      "label": "Text",
      "default": "Research demonstrates the success of ONS programs in reducing mortality and improving outcomes in dialysis patients. One recent study reported the novel finding that an effective ONS program can reduce the number of missed dialysis treatments by 33%."
    },
    {
      "type": "image_picker",
      "id": "s_four_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "s_four_btn_title",
      "label": "Download button title",
      "default": "Download"
    },
    {
      "type": "url",
      "id": "s_four_btn_url",
      "label": "Button URL"
    },
    {
      "type": "header",
      "content": "Section five"
    },
    {
      "type": "text",
      "id": "s_five_title",
      "label": "Title",
      "default": "About Us"
    },
    {
      "type": "textarea",
      "id": "s_five_text",
      "label": "Text",
      "default": "Vidafuel is an outcomes-driven company dedicated to leading improvement in the nutritional therapy market. Our passionate team of dietitians and scientists leads development of best in class products that provide a superior nutritional profile and patient experience. Our mission is to educate, support and continue to develop innovative nutritional therapy products that enable patients to live longer, happier lives."
    }
  ]
  }
{% endschema %}
