<div id="healthcare">

  {%- comment -%} PAGE TITLE {%- endcomment -%}
  <div class="healthcare-page-title">
    <div class="wrapper centertext">
  		<h1 class="trade_gothic_condensed_bold">{{ section.settings.hc_title }}</h1>
    </div>
  </div>

  {%- comment -%} FEATURE {%- endcomment -%}
  <div class="healthcare-feature trade_gothic py-2">
    <div class="wrapper page-width">
      <div class="inner">
        <div class="table">
          <div class="cell info">
            <h2 class="title trade_gothic_condensed_heavy text-white">{{ section.settings.s_one_title }}</h2>
            <h4 class="text text-white">{{ section.settings.s_one_text }}</h4>
          </div>
          <div class="cell image">

            {% if section.settings.s_one_image != blank %}
              {% capture img_id %}FeatureRowImage-section_one-{{ section.id }}{% endcapture %}
              {% capture wrapper_id %}FeatureRowImageWrapper-section_one-{{ section.id }}{% endcapture %}
              {%- assign img_url = section.settings.s_one_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              {% render 'image-style' with image: section.settings.s_one_image, width: 470, height: 470, small_style: true,
              wrapper_id: wrapper_id, img_id: img_id %}
              <div id="{{ wrapper_id }}" class="feature-row__image-wrapper js">
                <div style="padding-top:{{ 1 | divided_by: section.settings.s_one_image.aspect_ratio | times: 120}}%;" data-image-loading-animation>
                  <a href="{{ section.settings.s_one_img_link }}">
                    <img id="{{ img_id }}" 
                      class="feature-row__image lazyload"
                      data-src="{{ section.settings.s_one_image | image_url }}"
                      data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
                      data-aspectratio="{{ section.settings.s_one_image.aspect_ratio }}" 
                      data-sizes="auto"
                      alt="{{ section.settings.s_one_image.alt | escape }}"
                      loading="lazy">
                  </a>
                </div>
              </div>
              <noscript>
                {{ section.settings.image | img_url: '600x600', scale: 2 | img_tag: section.settings.image.alt, 'feature-row__image'
                }}
              </noscript>
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>

    {%- comment -%} ABOUT THE PRODUCT {%- endcomment -%}
    <div class="healthcare-about page-width py-2">
      <div class="inner">
        <div class="table">
          <div class="cell info">
            <h2 class="title trade_gothic_condensed_bold">{{ section.settings.s_two_title }}</h2>
            <p class="text">{{ section.settings.s_two_text }}</p>

            <button class="btn blue" id="modal_simple_btn">{{ section.settings.s_two_btn_title }}</button>

          </div>
          <div class="cell image">
            <div class="table">
              <div class="cell centertext">
                {% if section.settings.s_two_image != blank %}
                  {% capture img_id %}FeatureRowImage-section_two-{{ section.id }}{% endcapture %}
                  {% capture wrapper_id %}FeatureRowImageWrapper-section_two-{{ section.id }}{% endcapture %}
                  {%- assign img_url = section.settings.s_two_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  {% render 'image-style' with image: section.settings.s_two_image, width: 360, height: 360, small_style: true,
                  wrapper_id: wrapper_id, img_id: img_id %}
                  <div id="{{ wrapper_id }}" class="feature-row__image-wrapper js">
                    <div style="padding-top:{{ 1 | divided_by: section.settings.s_two_image.aspect_ratio | times: 100}}%;" data-image-loading-animation>
                      <img id="{{ img_id }}" 
                        class="feature-row__image lazyload"
                        data-src="{{ section.settings.s_two_image | image_url }}"
                        data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
                        data-aspectratio="{{ section.settings.s_two_image.aspect_ratio }}" 
                        data-sizes="auto"
                        alt="{{ section.settings.s_two_image.alt | escape }}"
                        loading="lazy">
                    </div>
                  </div>
                  <noscript>
                    {{ section.settings.image | img_url: '600x600', scale: 2 | img_tag: section.settings.image.alt, 'feature-row__image'
                    }}
                  </noscript>
                {% else %}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
              </div>
              <div class="cell bullets trade_gothic_bold">
                <ul>
                  <li>{{ section.settings.s_two_bullet_one_text }}</li>
                  <li>{{ section.settings.s_two_bullet_two_text }}</li>
                  <li>{{ section.settings.s_two_bullet_three_text }}</li>
                  <li>{{ section.settings.s_two_bullet_four_text }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    {%- comment -%} REQUEST FORM {%- endcomment -%}
    <div class="healthcare-form py-2">
      <div class="background-blue">
        <div class="page-width__wide">
          <h2 class="title text-white trade_gothic_condensed_heavy desktop-hide">{{ section.settings.s_three_title }}</h2>
          <h3 class="subtext text-white desktop-hide">{{ section.settings.s_three_text }}</h3>
          <p class="txt-minor text-white">Developed by dieticians</p>
        </div>
      </div>
      <div class="page-width page-width__wide">

        <div class="inner text-white">
          <div class="cols display-flexbox my-2">
            <div class="col one-whole copy medium-up--three-eighths">
              <div>
                <h2 class="title trade_gothic_condensed_heavy">{{ section.settings.s_three_title }}</h2>
                <h3 class="subtext">{{ section.settings.s_three_text }}</h3>
                <p class="txt-minor desktop-hide">Developed by dieticians</p>
              </div>
            </div>
            <div class="col one-whole medium-up--three-eighths">
              <div class="cell">
                {% if section.settings.s_three_image != blank %}
                  {% capture img_id %}FeatureRowImage-section_three-{{ section.id }}{% endcapture %}
                  {% capture wrapper_id %}FeatureRowImageWrapper-section_three-{{ section.id }}{% endcapture %}
                  {%- assign img_url = section.settings.s_three_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <div id="{{ wrapper_id }}" class="feature-row__image-wrapper js">
                    <div data-image-loading-animation>
                      <img id="{{ img_id }}" 
                        class="lazyload"
                        data-src="{{ section.settings.s_three_image | image_url }}"
                        data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
                        data-aspectratio="{{ section.settings.s_three_image.aspect_ratio }}" 
                        data-sizes="auto"
                        alt="{{ section.settings.s_three_image.alt | escape }}"
                        loading="lazy">
                    </div>
                  </div>
                  <noscript>
                    {{ section.settings.image | img_url: '600x600', scale: 2 | img_tag: section.settings.image.alt, 'feature-row__image'
                    }}
                  </noscript>
                {% else %}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
              </div>
            </div>
            <div class="col one-whole medium-up--two-eighths my-2">
              <form id="form1" class="form form__hubspot">
                <fieldset class="display-flex flex-col">
                  <legend class="trade_gothic_condensed_bold">Fill out the form<br><span class="txt--minor">to get your free sample</span></legend>
                  <p class="formReq text-right txt--minor"><abbr title="required">*</abbr> Required fields</p>
                  <label for="name"><input type="text" class="needsclick" placeholder="Name & Last Name*" name="name" maxlength="50" required minlength="3"></label>
                  <label for="email"><input type="email" class="needsclick" placeholder="Email*" name="email" maxlength="200" required minlength="3"></label>
                  <label for="phone"><input type="phone" class="needsclick" placeholder="Phone Number*" name="phone" maxlength="20" required minlength="3"></label>
                  <label for="institution"><input type="text" class="needsclick" placeholder="Instituition Name*" name="institution" maxlength="100" required></label>
                  <label for="job"><input type="text" class="needsclick" placeholder="Job Title*" name="job" maxlength="50" required></label>
                  <label for="instAddress"><input type="text" class="needsclick" placeholder="Instituition address*" name="instAddress" maxlength="200" required minlength="3"></label>
                  <p class="policy txt--minor text-center">We never spam or share your information. Manage your subscription or opt-out at anytime. View our <a href="https://www.vida-fuel.com/pages/privacy-policy" target="_blank">privacy policy</a>.</p>
                  <button type="submit" class="frmButton btn" id="submitForm">GET MY FREE SAMPLE</button>
                </fieldset>
            <!-- <div class="formError" id="formErrors">Form has invalid or missing information, please check your data and try again.</div> -->
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    {%- comment -%} WHITE PAPER {%- endcomment -%}
    <div class="healthcare-white-paper page-width display-flexbox py-2">
      <div class="inner">
        <div class="cols display-flexbox flex-col medium-up--flex-row flex-align-center">
          <div class="col medium-up--one-half">
            <h2 class="h1">{{ section.settings.s_four_title }}</h2>
            <h5>{{ section.settings.s_four_subtitle }}</h5>
            <p>{{ section.settings.s_four_text }}</p>
          </div>
          <div class="col medium-up--one-half image display-flexbox flex-col flex-align-center my-2">
            <img loading="lazy" id="{{ img_id }}" src="{{ section.settings.s_four_image | image_url: width: 180 }}"
              data-src="{{ section.settings.s_four_image | image_url }}"
              data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
              data-aspectratio="{{ section.settings.s_one_image.aspect_ratio }}" data-sizes="auto"
              alt="{{ section.settings.s_four_image.alt | escape }}">
            <button class="btn" onclick="KlaviyoSubscribe.attachToModalForm('#k_id_modal',{delay_seconds: 0.01, hide_form_on_success: true, ignore_cookie: true, success_message: false});">Download</button>
          </div>
        </div>
      </div>
    </div>

    {%- comment -%} VIDEO {%- endcomment -%}
    <div class="healthcare-video py-2" id="wellness-protein">
      <div class="inner page-width">
        <div class="cols">
          <div class="col one-whole medium-up--one-half">

            <div class='embed-container'>
              <div id="hcp_video_cover" style="display: block;"
                onclick="this.nextElementSibling.style.display='block'; this.style.display='none'">
                <img
                  src="https://cdn.shopify.com/s/files/1/0922/1906/files/Vidafuel-Wellness-Protein-Tutorial-cover.jpg?v=1638373246"
                  style="cursor:pointer" />
              </div>
              <iframe style="display: none;" id="hcp_video" width="560" height="315"
                src="https://www.youtube-nocookie.com/embed/B5wCtpjZWR4" title="YouTube video player" frameborder="0"
                enablejsapi="1"
                allow="accelerometer; modestbranding; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
                allowfullscreen></iframe>
            </div>
            
          </div>
          <div class="col one-whole medium-up--one-half text pt-2">
            <h2 class="text-white">{{ section.settings.s_five_title }}</h2>
            <p class="text-white">{{ section.settings.s_five_text }}</p>
          </div>
        </div>
      </div>
    </div>

    {%- comment -%} SIX distribution {%- endcomment -%}
    <div class="healthcare-distribution">
      <div class="wrapper">
        <div class="inner centertext">
          <div class="title uppercase">{{ section.settings.s_six_title }}</div>
          <img src="{{ 'healthcare-05.png' | asset_url }}" alt="" />
        </div>
      </div>
    </div>
    
    {%- comment -%} contact {%- endcomment -%}
    <div class="healthcare-contact">
      <div class="wrapper">
        <div class="inner centertext">
          <p>Have questions about our products?<br />Reach out to us anytime!</p>
          <p>customercare@vidafuel.com <span>|</span> (615) 430-8733</p>
        </div>
      </div>
    </div>

</div>

<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>

{%- comment -%} hcp modal content {%- endcomment -%}
<div class="modal-simple">
  <span class="modal-simple__close-btn">&times;</span>
  <div class="modal-simple__content">
    <img src="{{ section.settings.s_two_modal_image | image_url }}"
      alt="{{ section.settings.s_two_modal_image.alt | escape }}" loading="lazy">
  </div>
</div>

{% schema %}
  {
  "name": "Content",
  "class": "healthcare",
  "settings": [
    {
      "type": "text",
      "id": "hc_title",
      "label": "Page title",
      "default": "NEW Protein Supplement"
    },
    {
      "type": "header",
      "content": "Section one"
    },
    {
      "type": "text",
      "id": "s_one_title",
      "label": "Title",
      "default": "Clinical nutrition done right"
    },
    {
      "type": "textarea",
      "id": "s_one_text",
      "label": "Subtext",
      "default": "Dietitian Developed for Optimal Absorption."
    },
    {
      "type": "image_picker",
      "id": "s_one_image",
      "label": "Image"
    },
    {
      "type": "url",
      "id": "s_one_img_link",
      "label": "Image URL"
    },
    {
    "type": "header",
    "content": "Section two"
    },
    {
      "type": "text",
      "id": "s_two_title",
      "label": "Title",
      "default": "Small but Mighty"
    },
    {
      "type": "textarea",
      "id": "s_two_text",
      "label": "Subtext",
      "default": "Not all proteins are equal. See how Vidafuel is superior."
    },
    {
      "type": "text",
      "id": "s_two_btn_title",
      "label": "Button title",
      "default": "Comp Chart"
    },
    {
      "type": "image_picker",
      "id": "s_two_modal_image",
      "label": "Button modal image"
    },
    {
      "type": "image_picker",
      "id": "s_two_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "s_two_bullet_one_text",
      "label": "Bullet one",
      "default": "17g of complete protein in 2oz"
    },
    {
      "type": "text",
      "id": "s_two_bullet_two_text",
      "label": "Bullet two",
      "default": "No dilution required"
    },
    {
      "type": "text",
      "id": "s_two_bullet_three_text",
      "label": "Bullet three",
      "default": "Easy to swallow texture"
    },
    {
      "type": "text",
      "id": "s_two_bullet_four_text",
      "label": "Bullet four",
      "default": "No artificial sweeteners or colors"
    },
    {
    "type": "header",
    "content": "Section three"
    },
    {
      "type": "text",
      "id": "s_three_title",
      "label": "Title",
      "default": "Request free samples for your patients"
    },
    {
      "type": "text",
      "id": "s_three_text",
      "label": "Subtext",
      "default": "Not all proteins are equal. See how Vidafuel is superior."
    },
    {
      "type": "image_picker",
      "id": "s_three_image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Section four"
    },
    {
      "type": "text",
      "id": "s_four_title",
      "label": "Title",
      "default": "The white paper"
    },
    {
      "type": "text",
      "id": "s_four_subtitle",
      "label": "Subtext",
      "default": "Clinical and financial value of Oral Nutrition Supplement programs."
    },
    {
      "type": "text",
      "id": "s_four_text",
      "label": "Text",
      "default": "Research demonstrates the success of ONS programs in reducing mortality and improving outcomes in dialysis patients. One recent study reported the novel finding that an effective ONS program can reduce the number of missed dialysis treatments by 33%."
    },
    {
      "type": "image_picker",
      "id": "s_four_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "s_four_btn_title",
      "label": "Download button title",
      "default": "Download"
    },
    {
      "type": "url",
      "id": "s_four_btn_url",
      "label": "Button URL"
    },
    {
      "type": "header",
      "content": "Section five"
    },
    {
      "type": "text",
      "id": "s_five_title",
      "label": "Title",
      "default": "About Us"
    },
    {
      "type": "textarea",
      "id": "s_five_text",
      "label": "Text",
      "default": "Vidafuel is an outcomes-driven company dedicated to leading improvement in the nutritional therapy market. Our passionate team of dietitians and scientists leads development of best in class products that provide a superior nutritional profile and patient experience. Our mission is to educate, support and continue to develop innovative nutritional therapy products that enable patients to live longer, happier lives."
    },
    {
      "type": "header",
      "content": "Section six"
    },
        {
      "type": "textarea",
      "id": "s_six_title",
      "label": "Title",
      "default": "Distributed by"
    }
  ]
  }
{% endschema %}
