{{ 'flickity.min.css' | asset_url | stylesheet_tag }}
<script src="{{ 'flickity.min.js' | asset_url }}" defer></script>
{% liquid
	if section.settings.autoplay
		assign slider_speed = section.settings.autoplay_speed
	else
		assign slider_speed = 'false'
	endif
%}
{{ 'section-slider.css' | asset_url | stylesheet_tag }}

{% if section.settings.custom_background %}
  <style>
    .carousel-wrapper {
      padding-top: 0;
      position: relative;
    }
    @media screen and (min-width: 750px) {
      .carousel-wrapper {
        padding-top: 8.25%;
      }
    }

    .carousel-wrapper::before {
      content: "";
      position: absolute;
      top: calc(8.25vw - 2px);
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #7bccc8;
      pointer-events: none;
    }

    .carousel-wrapper::after {
      content: "";
      background-image: url('{{ 'cpd_waves_02.svg' | asset_url }}');
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding-bottom: 8.25%;
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
      z-index: 1;
    }
  </style>
{% endif %}

{% if section.blocks.size > 0 %}
  <div class="carousel-wrapper" {% if section.settings.background_color %}style="background-color:{{ section.settings.background_color }};"{% endif %}>
		{% if section.settings.carousel_title != blank %}
    <div class="carousel-title__wrap">
      <h2 class="h1">
        <strong>{{ section.settings.carousel_title }}</strong>
      </h2>
    </div>
				{% endif %}
    <div class="main-carousel" data-flickity='{ "contain": "true", "draggable": true, "wrapAround": true, "autoPlay": {{ slider_speed }} }'>

      {% for block in section.blocks %}
        <div class="carousel-cell">
          <div class="carousel-cell__wrap">

            <div class="carousel__text-wrap{% if block.settings.title != blank or block.settings.subheading != blank %} carousel__overlay{% endif %}">
              <div class="carousel__text-content">
                {% unless block.settings.title == blank %}
                  <h2 class="carousel__title{% if settings.link != blank %} carousel__title--has-link{% endif %}{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">
                    <strong>{{ block.settings.title | escape }}</strong>
                  </h2>
                {% endunless %}
                {% unless block.settings.subheading == blank %}
                  <blockquote class="carousel__subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                    {{ block.settings.subheading | escape }}
                  </blockquote>
                {% endunless %}
                {% unless block.settings.link == blank %}
                  <a href="{{ block.settings.link }}" class="button button--primary">
                    {{ block.settings.button_label | escape }}
                  </a>
                {% endunless %}
                {% if block.type == 'video' %}
                  {% unless block.settings.video_type == 'background' %}
                    <div class="carousel__video-control--play-wrapper{% if block.settings.title != blank or block.settings.subheading != blank %} carousel__video-control--play-wrapper--push{% endif %}">
                      <button
                        type="button"
                        class="text-link carousel__video-control carousel__video-control--play"
                        data-controls="SlideshowVideo-{{ block.id }}">
                        {% comment %} {% include 'icon-play-video' %} {% endcomment %}
                        <span class="icon__fallback-text">{{ 'sections.slideshow.play_video' | t }}</span>
                      </button>
                    </div>
                  {% endunless %}
                {% endif %}
              </div>
            </div>
            <div class="carousel__image-wrap">
              {{ block.settings.image | image_url: width: 400 | image_tag: class: 'carousel__image' }}
            </div>

          </div>
        </div>
      {% endfor %}
    </div>

  </div>
{% endif %}

{% schema %}
  {
    "name": "Slideshow",
    "class": "index-section index-section--flush",
    "max_blocks": 4,
    "settings": [
			{
				"type": "text",
				"id": "carousel_title",
				"label": "Carousel title"
			},
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Auto-rotate slides",
        "default": true
      },
      {
        "type": "select",
        "id": "autoplay_speed",
        "label": "Change slides every",
        "options": [
          {
            "value": "5000",
            "label": "5 seconds"
          },
          {
            "value": "6000",
            "label": "6 seconds"
          },
          {
            "value": "7000",
            "label": "7 seconds"
          },
          {
            "value": "8000",
            "label": "8 seconds"
          }, {
            "value": "9000",
            "label": "9 seconds"
          }, {
            "value": "10000",
            "label": "10 seconds"
          }
        ],
        "default": "7000"
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Text size",
        "default": "medium",
        "options": [
          {
            "label": "Medium",
            "value": "medium"
          }, {
            "label": "Large",
            "value": "large"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "custom_background",
        "label": "Custom background",
        "default": false
      }, {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#fff",
        "info": "Background color behind the custom background"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Image alignment",
            "default": "top",
            "options": [
              {
                "value": "top",
                "label": "Top"
              }, {
                "value": "center",
                "label": "Middle"
              }, {
                "value": "bottom",
                "label": "Bottom"
              }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Image slide"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Tell your brand's story through video and images"
          }, {
            "type": "url",
            "id": "link",
            "label": "Slide link"
          }, {
            "type": "text",
            "id": "button_label",
            "default": "Button label",
            "label": "Button label"
          }
        ]
      }, {
        "type": "video",
        "name": "Video slide",
        "settings": [
          {
            "type": "video_url",
            "id": "video_url",
            "label": "Video link",
            "accept": ["youtube"],
            "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
          },
          {
            "type": "select",
            "id": "video_type",
            "label": "Style",
            "options": [
              {
                "value": "chrome",
                "label": "Image with play button"
              }, {
                "value": "background-chrome",
                "label": "Background video with play button"
              }, {
                "value": "background",
                "label": "Background video"
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Fallback when autoplaying video is not supported on mobile devices"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Video slide"
          }, {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Tell your brand's story through video and images"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slideshow",
        "category": "Image",
        "settings": {
          "autoplay": true,
          "autoplay_speed": "5000"
        },
        "blocks": [
          {
            "type": "image"
          }, {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}