<link rel="stylesheet" href="{{ 'page-home.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'slick.css' | asset_url }}">

<div id="home">
  
  <!-- feature -->
  <div class="feature">
    <div class="wrapper">
      <div class="inner">
        <div class="table">
          <div class="cell text">
            <div class="title trade_gothic_compressed_bold uppercase">Dietitian Developed<br>Nutrition Solutions</div>
            <p>Backed by science, made for you.</p>
            <a href="/products" class="button hide_1024">Shop Now</a>
          </div>
          <div class="cell image">
            <img src="{{ 'home-02-2x-updated_new.png' | asset_url }}" alt="" />
          </div>
        </div>
        <div class="show_1024">
          <a href="/products" class="button">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- icons -->
 <div class="icons">
    <div class="wrapper">
      <div class="inner">
        <div class="table trade_gothic_compressed_bold uppercase">
          <div class="cell text">
            <div class="title">Products that<br>support you<br>when you need<br>them the most.</div>
          </div>
          <div class="cell images">
            <div class="icon">
              <span class="circle" style="background-image:url({{ 'home-icon-04.png' | asset_url }});"></span>
              <span class="label">CKD/Dialysis</span>
            </div>
            <div class="icon">
              <span class="circle" style="background-image:url({{ 'home-icon-06.png' | asset_url }});"></span>
              <span class="label">Diabetes</span>
            </div>
            <div class="icon">
              <span class="circle" style="background-image:url({{ 'home-icon-01.png' | asset_url }});"></span>
              <span class="label">Active Aging</span>
            </div>
            <div class="icon">
              <span class="circle" style="background-image:url({{ 'home-icon-02.png' | asset_url }});"></span>
              <span class="label">Post-Surgery Recovery</span>
            </div>
            
            <div class="icon">
              <span class="circle" style="background-image:url({{ 'home-icon-05.png' | asset_url }});"></span>
              <span class="label">Geriatric Nutrition</span>
            </div>
            <div class="icon">
              <span class="circle" style="background-image:url({{ 'home-icon-03.png' | asset_url }});"></span>
              <span class="label">Cancer</span>
            </div>
            <div class="icon">
              <span class="circle" style="background-image:url({{ 'home-icon-07.png' | asset_url }});"></span>
              <span class="label">Fitness / Athletics</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- callout -->
  <div class="callout">
    <div class="wrapper">
      <div class="inner centertext">
        <div class="title trade_gothic_compressed_bold uppercase">Adequate nutrition is the foundation for a long, active life.</div>
        <div class="text">Vidafuel products make it more <strong>accessible, convenient & enjoyable.</strong></div>
      </div>
    </div>
  </div>
  
  <!-- categories -->
  <div class="categories">
    <div class="wrapper">
      <div class="inner centertext">
        <div class="cols">
          <div class="col one-half">
            <div class="title trade_gothic_compressed_bold uppercase">Wellness Protein</div>
            <img src="{{ 'home-05_new.png' | asset_url }}" alt="Wellness Protein" />
            <p>Quick & easy way to boost<br>your daily protein intake</p>
            <p>Powerful combo of<br>whey + collagen protein</p>
            <p>17g protein per 2oz shot</p>
            <a href="/collections/all/protein-drinks?sort_by=title-descending" class="button inverse">Shop Protein</a>
          </div>
          <div class="col one-half">
            <div class="title trade_gothic_compressed_bold uppercase">Snacks</div>
            <img src="{{ 'home-06.png' | asset_url }}" alt="Wellness Protein" />
            <p>Convenient &<br>portion controlled</p>
            <p>Controlled sugar,<br>sodium and fat</p>
            <p>Only 80-120 calories</p>
            <a href="/collections/all/protein-crisps?sort_by=title-descending" class="button inverse">Shop Snacks</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- booster -->
  <div class="booster">
    <div class="wrapper">
      <div class="inner">
        <div class="table">
          <div class="cell">
            <div class="title uppercase proxima_nova_light">Meet<br />your daily<br>protein booster</div>
            <div class="subtitle trade_gothic_compressed_bold uppercase">Small but mighty</div>
          </div>
          <div class="cell image">
            <img src="{{ 'home-07_new.png' | asset_url }}" alt="" />
          </div>
          <div class="cell">
            <ul>
              <li><strong>Whey protein</strong><br />to support muscle mass & strength.</li>
              <li><strong>Collagen protein</strong><br />to support skin, joint & bone health.</li>
              <li><strong>No artificial sweeteners</strong>, ever.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- reviews -->
  <div class="reviews">
    <div class="show_1024 text-right">
      <img src="{{ 'home-09.png' | asset_url }}" alt="" />
    </div>
  	<div class="table">
      <div class="cell">
        <div class="box centertext">
          <div class="title trade_gothic_compressed_bold uppercase">Customer reviews on our wellness protein</div>
		  <div class="slider">
            <div class="item">
              <div class="headshot"><!--<img src="{{ 'home-headshot-02.jpg' | asset_url }}" alt="" />-->TE</div>
              <div class="stars"><img src="{{ 'home-stars.png' | asset_url }}" alt="" /></div>
              <div class="text">
                <strong>Tastes Great - Perfect after surgery!</strong><br />
                Trying to get all the protein and water for a day is hard sometimes. This product helps so much!
              </div>
              <div class="source trade_gothic_compressed_bold uppercase">Tammra E.</div>
            </div>
            <div class="item">
              <div class="headshot"><!--<img src="{{ 'home-headshot-01.jpg' | asset_url }}" alt="" />-->RH</div>
              <div class="stars"><img src="{{ 'home-stars.png' | asset_url }}" alt="" /></div>
              <div class="text">
                Vidafuel is a delicious way to get more protein. I am a PD patient and hate chewing protein (meat) with every meal. 
                Yucko. I actually enjoy my afternoon Vidafuel "shot." It is a cool, great tasting break in my day.
              </div>
              <div class="source trade_gothic_compressed_bold uppercase">Rebecca H.</div>
            </div>
            <div class="item">
              <div class="headshot"><!--<img src="{{ 'home-headshot-02.jpg' | asset_url }}" alt="" />-->YS</div>
              <div class="stars"><img src="{{ 'home-stars.png' | asset_url }}" alt="" /></div>
              <div class="text">
                <strong>Retaining Weight</strong><br />
				I underwent major weight loss due to illness .Within a week I am retaining my weight instead of losing. 
                This gives me hope to keep adding more pounds .Flavor is not bad it taste like a creamsicle without the cream lol 
              </div>
              <div class="source trade_gothic_compressed_bold uppercase">Yenifer S.</div>
            </div>
            <div class="item">
              <div class="headshot"><!--<img src="{{ 'home-headshot-01.jpg' | asset_url }}" alt="" />-->AO</div>
              <div class="stars"><img src="{{ 'home-stars.png' | asset_url }}" alt="" /></div>
              <div class="text">
				I had the gastric sleeve done and this is a life saver to get my daily protein in!!!
              </div>
              <div class="source trade_gothic_compressed_bold uppercase">April O.</div>
            </div>
            <div class="item">
              <div class="headshot"><!--<img src="{{ 'home-headshot-01.jpg' | asset_url }}" alt="" />-->CF</div>
              <div class="stars"><img src="{{ 'home-stars.png' | asset_url }}" alt="" /></div>
              <div class="text">
                <strong>Easy way to get protein</strong><br />
				My dialysis dietitian is always telling me., you need more protein.” These beverages do help!
              </div>
              <div class="source trade_gothic_compressed_bold uppercase">Cynthia F.</div>
            </div>
            <div class="item">
              <div class="headshot"><!--<img src="{{ 'home-headshot-02.jpg' | asset_url }}" alt="" />-->LL</div>
              <div class="stars"><img src="{{ 'home-stars.png' | asset_url }}" alt="" /></div>
              <div class="text">
                <strong>VERY GOOD</strong><br />
				YOUR PRODUCT IS OUT STANDING .....IN COMPARISON TO OTHER [THAT ARE MUCH TO SWEET] I FIND THIS VERY TOLERABLE AN EASY TO FINISH.......THANK YOU .....
              </div>
              <div class="source trade_gothic_compressed_bold uppercase">Larry L.</div>
            </div>
          </div>
          <a href="#" class="button">Read Reviews</a>
        </div>
      </div>
      <div class="cell text-right hide_1024">
        <img src="{{ 'home-09_new.png' | asset_url }}" alt="" />
      </div>
    </div>
  </div>
  
  <!-- comparison -->
  <div class="comparison">
    <div class="wrapper">
      <div class="inner">
        <div class="table">
          <div class="cell">
            <div class="title uppercase proxima_nova_light">Dietitian<br>Developed<br>Snacks</div>
            <div class="subtitle trade_gothic_compressed_bold uppercase">How we compare</div>
          </div>
          <div class="cell image">
            <div class="tabs">
              <div class="tab tab-1" style="display:block;">
                <img src="{{ 'home-12.jpg' | asset_url }}" alt="" />
              </div>
              <div class="tab tab-2">
                <img src="{{ 'home-13.jpg' | asset_url }}" alt="" />
              </div>
              <div class="tabnav centertext trade_gothic_condensed uppercase">
                <span rel="tab-1" class="active">BBQ Potato</span>
                <span rel="tab-2">Sweet Crisps</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- reviews -->
  <div class="reviews alt">
    <div class="show_1024">
      <img src="{{ 'home-11.png' | asset_url }}" alt="" />
    </div>
  	<div class="table">
      <div class="cell">
        <div class="box centertext">
          <div class="title trade_gothic_compressed_bold uppercase">Customer reviews on our snacks</div>
		  <div class="slider">
            <div class="item">
              <div class="headshot"><!--<img src="{{ 'home-headshot-02.jpg' | asset_url }}" alt="" />-->JG</div>
              <div class="stars"><img src="{{ 'home-stars.png' | asset_url }}" alt="" /></div>
              <div class="text">
              	This is an "everybody wins" type of snack. It's got a great chocolate taste, nutrients and protein!!! 
                When I have a little bit of a "sweet tooth", I have a bag of these treats and I am soooooooo satisfied!!  
                I am a diabetic and find that it fits my dietary needs very well. I highly recommend it!!
              </div>
              <div class="source trade_gothic_compressed_bold uppercase">Judy G</div>
            </div>
            <div class="item">
              <div class="headshot"><!--<img src="{{ 'home-headshot-01.jpg' | asset_url }}" alt="" />-->SJ</div>
              <div class="stars"><img src="{{ 'home-stars.png' | asset_url }}" alt="" /></div>
              <div class="text">
				ALWAYS searching for a SNACK that has LESS than more! And vida-fuel is it! The taste of the flavors do not disappoint!
              </div>
              <div class="source trade_gothic_compressed_bold uppercase">Stacey J.</div>
            </div>
            <div class="item">
              <div class="headshot"><!--<img src="{{ 'home-headshot-02.jpg' | asset_url }}" alt="" />-->SB</div>
              <div class="stars"><img src="{{ 'home-stars.png' | asset_url }}" alt="" /></div>
              <div class="text">
              	Patients absolutely love these and I enjoy being able to give them out so they know good options do not necessarily 
                mean that they have no flavor or taste bad. My patients see that they can still find good food and be healthy.   
              </div>
              <div class="source trade_gothic_compressed_bold uppercase">Sabrina B. RDN</div>
            </div>
            <div class="item">
              <div class="headshot"><!--<img src="{{ 'home-headshot-01.jpg' | asset_url }}" alt="" />-->HB</div>
              <div class="stars"><img src="{{ 'home-stars.png' | asset_url }}" alt="" /></div>
              <div class="text">
              	Best snacks ever! I am a cancer survivor who has a very high potassium count. Have to figure all 
                foods for a daily count. Limits my choices for snacks. These snacks fit me and are delicious.
              </div>
              <div class="source trade_gothic_compressed_bold uppercase">Heather B.</div>
            </div>
            <div class="item">
              <div class="headshot"><!--<img src="{{ 'home-headshot-02.jpg' | asset_url }}" alt="" />-->KE</div>
              <div class="stars"><img src="{{ 'home-stars.png' | asset_url }}" alt="" /></div>
              <div class="text">
              	I love these. I bought the BBQ and the Plain. It is just like real chips, tastes the same, looks the same. 
                Even my husband and mother like them and they are huge chip eaters... It is like a treat with my sandwich 
                in the afternoon.
              </div>
              <div class="source trade_gothic_compressed_bold uppercase">Kirsten E.</div>
            </div>
            <div class="item">
              <div class="headshot"><!--<img src="{{ 'home-headshot-01.jpg' | asset_url }}" alt="" />-->JM</div>
              <div class="stars"><img src="{{ 'home-stars.png' | asset_url }}" alt="" /></div>
              <div class="text">
              	I bought these thinking they would be like other renal diet foods- dull and no flavor. Boy I was wrong. 
                I really like these. Thank you for a great product!
              </div>
              <div class="source trade_gothic_compressed_bold uppercase">James M.</div>
            </div>
          </div>
          <a href="#" class="button">Read Reviews</a>
        </div>
      </div>
      <div class="cell centertext hide_1024">
        <img src="{{ 'home-11.png' | asset_url }}" alt="" />
      </div>
    </div>
  </div>
  
</div>

<script src="{{ 'slick.js' | asset_url }}"></script>
<script>
  jQuery(function($){
    
    // reviews sliders
    if ($('#home .reviews .slider').length) {
      $('#home .reviews .slider').each(function() {
        $(this).slick({
          infinite: true,
          slidesToShow: 2,
          slidesToScroll: 2,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
          ]
        });
      });
    }
    
    // comparison tabs
	$('#home .comparison .image .tabs .tabnav span').on('click tap', function(e) {
		e.stopPropagation();
  		e.preventDefault();
        var rel = $(this).attr('rel');
        $('#home .comparison .image .tabs .tabnav span').removeClass('active');
		$(this).addClass('active');
	    $('#home .comparison .image .tabs .tab').hide(0);	
        $('#home .comparison .image .tabs .tab.' + rel).show(0);
	});
    
    // reviews links
	$('#home .reviews a.button').on('click tap', function(e) {
      e.stopPropagation();
      e.preventDefault();
      $('#yotpo-testimonials').show(0).addClass('yotpo-modal-active');
    });
        
  });
</script>