{% comment %}
  The contents of the lists-collections.liquid template can be found in /sections/lists-collections-template.liquid
  loop the default "all" collection:
  https://community.shopify.com/c/shopify-design/how-to-display-all-individual-products-in-a-shopify-store/m-p/308607/highlight/true#M80564
{% endcomment %}

{% if request.path contains '/products' %}

{% paginate collections.all.products by limit %}
  <header class="section-header text-center with-filters">
    <div class="collection-hero">
      {% section 'hero' %}
      {% section 'filters' %}
    </div>
  </header>

  {% assign collection_handle = 'wellness-supplements' %}
  {% for collection in collections %}
  
    {% if collection.handle == 'wellness-supplements' %}
      {% assign drinksHandle = 'wellness-supplements' %}
      {% assign drinksTitle = collection.title %}
      {% assign drinksDescription = collection.description %}
    {% elsif collection.handle == 'snacks' %}
      {% assign snacksHandle = 'snacks' %}
      {% assign snacksTitle = collection.title %}
      {% assign snacksDescription = collection.description %}
    {% endif %}
  {% endfor %}

  {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
  {%- assign max_height = 345 -%}
  <div class="shopify-section" id="healthy-snacks">
    <header class="collection__description contact-page-header mb-0">
      <a href="/collections/{{ snacksHandle }}">
        <h2>{{ snacksTitle }}</h2>
      </a>
      <p>{{ snacksDescription }}</p>
    </header>
    <div class="page-width">
      <ul class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
        {% for product in collections.snacks.products %}
          {%- include 'bold-product' with product, hide_action: 'skip' -%}
          <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
            {% include 'product-card-grid', max_height: max_height %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="shopify-section" id="wellness-supplements">
    <header class="collection__description contact-page-header mb-0 secondary__page-header">
      <a href="/collections/{{ drinksHandle }}">
        <h2>{{ drinksTitle }}</h2>
      </a>
      <p>{{ drinksDescription }}</p>
    </header>
    <div class="page-width">
      <ul class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
        {% for product in collections.wellness-supplements.products %} 
            {%- include 'bold-product' with product, hide_action: 'skip' -%}
            <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
              {% include 'product-card-grid', max_height: max_height %}
            </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="shopify-section" id="featured-products">
      <header class="feat__page-header mb-0 contact-page-header">
      <div class="page-width">
                <h2>{{ settings.product_pg_feat_title }}</h2>
                <p>{{ settings.product_pg_feat_description }}</p>
      </div>
      </header>
      <div class="page-width">
        {% for product in collections.all.products %}
          {% for tag in product.tags %}
            {% if tag contains 'featured' %}
              <ul class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
                {%- include 'bold-product' with product, hide_action: 'skip' -%}
                <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
                  {% include 'product-card-grid', max_height: max_height %}
                </li>
              </ul>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
  </div>
   
{% endpaginate %}
{% else %}
  {% section 'list-collections-template' %}
{% endif %}
