<link rel="stylesheet" href="https://use.typekit.net/mhs8yib.css">
<link rel="stylesheet" href="{{ 'campaign_protein_drinks.css' | asset_url }}">
<style>
  .landing-page-section .banner-container::before {
    background-image: url('{{ 'cpd_waves_01.svg' | asset_url }}');
      }
  .landing-page-section .support-section .pill-label .round-btn{
    background-image: url('{{ 'cpd_ui_down_arrow_white.svg' | asset_url }}');
      }
  .landing-page-section .mighty-section::after{
    background-image: url('{{ 'cpd_waves_02.svg' | asset_url }}');
      }
  .landing-page-section .video .img-placeholder::before{
    background-image: url('{{ 'cpd_ui_play_btn.svg' | asset_url }}');
      }
  .landing-page-section .options-section::before{
    background-image: url('{{ 'cpd_waves_03.svg' | asset_url }}');
      }
  .landing-page-section .mission-section .video .img-placeholder::before{
    background-image: url('{{ 'cpd_ui_play_btn.svg' | asset_url }}');
      }
  .landing-page-section .protein-drink-section .produtos-list .produtos-item .produto-qty-container .inner .qty-btn.left{
    background-image: url('{{ 'cpd_ui_minus.svg' | asset_url }}');
      }
  .landing-page-section .protein-drink-section .produtos-list .produtos-item .produto-qty-container .inner .qty-btn.right{
    background-image: url('{{ 'cpd_ui_plus.svg' | asset_url }}');
      }
  .landing-page-section .protein-drink-section .produtos-list .produtos-item .produtos-tabs .tab-container .row select{
    background-image: url('{{ 'cpd_ui_arrow_down_black.svg' | asset_url }}');
      }
  .landing-page-section .review-section::after{
    background-image: url('{{ 'cpd_waves_04.svg' | asset_url }}');
      }
  .landing-page-section .review-section .slick-arrow-nav .slick-arrow.slick-prev{
    background-image: url('{{ 'cpd_ui_arrow_prev_white.svg' | asset_url }}');
  }
  .landing-page-section .review-section .slick-arrow-nav .slick-arrow.slick-next{
    background-image: url('{{ 'cpd_ui_arrow_next_white.svg' | asset_url }}');
  }
  .landing-page-section .review-section .review-slider .review-item .user-container .user-info-container .star-container span{
    background-image: url('{{ 'cpd_ui_star.svg' | asset_url }}');
  }
  .no-js:not(html) 
  {
    display: none;
  }
  .landing-page-section .img-wrapper{
    width: 100%;
  }
  .bold-ro__recurring-title,
  .bold-ro__see-details{
    display: none;
  }
  .landing-page-section .bold-ro__radio-div{
  	border: 1px solid rgba(115,123,122,.2);
    border-radius: 20px;
    outline: 0;
    background: none;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  .landing-page-section .bold-ro__radio-div.bold-ro__bold-active{
    background: rgba(115,123,122,0.05);
  }
  .landing-page-section .ro_widget{
	  margin-top: 20px;
  }
  .landing-page-section .bold-ro__radio-div label > span{
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
  }
  .landing-page-section .bold-ro__radio-div label > span > span{
  	color:#426c6a;
  }
  .landing-page-section .bold-ro__product .bold-ro__radio-div:nth-child(3) label > span > span{
  	color:#78CCC8;
  }
  
  .landing-page-section .bold-ro__frequency-div{
  	padding-left: 22px;
  }
  .landing-page-section .bold-ro__frequency-div .bold-ro__frequency-label{
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
  }
  .landing-page-section .bold-ro__frequency-div .bold-ro__frequency-num{
  	height: 30px;
    width: 48px;
    color: #737b7a;
    font-size: 16px;
    line-height: 20px;
    padding-left: 5px;
  }
  .landing-page-section .bold-ro__frequency-div .bold-ro__frequency-type{
    height: 30px;
    width: 100px;
    color: #737b7a;
    font-size: 16px;
    line-height: 20px;
    padding-left: 5px;
  }
  .produto-qty-container .product-form__input{
    width:33.3333%;
    outline:0;
    border:0px;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 25px;
    text-align:center;
  }
  .product-form__item select{
    width:100%;
    height: 30px;
    color: #737b7a;
    font-size: 16px;
    line-height: 20px;
    padding-left: 5px;
  }
  .product-form__item label{
   	display:block;
    width: 100%;
    display: block;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: #78CCC8;
    margin-bottom: 5px;
  }
</style>
<main>
    <nav id="menu">
      <div class="grid-container">
        <div class="desktop-30 desktop-push-5 ls-tablet-30 ls-tablet-push-5 pt-tablet-50 pt-tablet-push-5">
          <div class="logo-container"><img src="{{ 'cpd_vidafuel_logo.svg' | asset_url }}" alt="Logo"></div>
        </div>
      </div>
    </nav>
    <div class="landing-page-section">
      <div class="banner-container">
        <div class="grid-container">
          <div class="hide-on-desktop hide-on-ls-tablet hide-on-pt-tablet hide-on-ls-phone banner-extra">
            <div class="banner-img"><img src="{{ 'cpd_banner_image_mobile.png' | asset_url }}" alt="Banner"></div>
          </div>
          <div class="desktop-40 desktop-push-5 ls-tablet-40 ls-tablet-push-5 pt-tablet-50 pt-tablet-push-5 banner-left">
            <div class="banner-info-container">
              <div class="banner-title">Meet your daily protein booster</div>
              <div class="banner-text">
                <ul>
                  <li>路 Helps support immune response</li>
                  <li>路 Superior protein of collagen + whey</li>
                  <li>路 Good taste and easy to consume</li>
                  <li>路 Kidney and diabetic friendly</li>
                </ul>
              </div>
              <a href="#link-protein-drink" class="btn anchor" title="Buy Now">Buy Now</a>
            </div>
          </div>
          <div class="desktop-55 desktop-push-10 ls-tablet-55 ls-tablet-push-5 pt-tablet-50 pt-tablet-push-5 banner-right hide-on-pt-phone">
            <div class="banner-img"><img class="hide-on-pt-tablet hide-on-ls-phone" src="{{ 'cpd_banner_image.png' | asset_url }}" alt="Banner"><img class="hide-on-desktop hide-on-ls-tablet" src="{{ 'cpd_banner_image_mobile.png' | asset_url }}" alt="Banner"></div>
          </div>
        </div>
      </div>
      <div class="support-section">
        <div class="grid-container">
          <div class="desktop-40 desktop-push-30 ls-tablet-50 ls-tablet-push-25 pt-tablet-70 pt-tablet-push-15 ls-phone-70 ls-phone-push-15">
            <div class="pill-label">See how just 2oz shot can be an easy way to increase protein intake<a href="#link-mighty" class="round-btn anchor" title="Go">Go</a></div>
          </div>
        </div>
        <div class="grid-container">
          <div class="desktop-25 desktop-push-10 ls-tablet-30 ls-tablet-push-5 pt-tablet-40 pt-tablet-push-5">
            <div class="support-title">Developed by dietitians to deliver high quality protein when you need it most.</div>
          </div>
          <div class="desktop-55 desktop-push-10 ls-tablet-60 ls-tablet-push-5 pt-tablet-50 pt-tablet-push-5">
            <div class="support-list">
              <div class="support-item-wrap">
                <div class="support-image"><img src="{{ 'cpd_icon_01_2x.png' | asset_url }}" alt="CKD/DIALYSIS"></div>
                <div class="support-item-title">CKD/DIALYSIS</div>
              </div>
              <div class="support-item-wrap">
                <div class="support-image"><img src="{{ 'cpd_icon_02_2x.png' | asset_url }}" alt="Cancer"></div>
                <div class="support-item-title">Cancer</div>
              </div>
              <div class="support-item-wrap">
                <div class="support-image"><img src="{{ 'cpd_icon_03_2x.png' | asset_url }}" alt="Post surgery recovery"></div>
                <div class="support-item-title">Post surgery recovery</div>
              </div>
              <div class="support-item-wrap">
                <div class="support-image"><img src="{{ 'cpd_icon_04_2x.png' | asset_url }}" alt="GERIATRIC NUTRITIONt"></div>
                <div class="support-item-title">GERIATRIC NUTRITION</div>
              </div>
              <div class="support-item-wrap">
                <div class="support-image"><img src="{{ 'cpd_icon_05_2x.png' | asset_url }}" alt="DIABETES"></div>
                <div class="support-item-title">DIABETES</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mighty-section">
        <div class="grid-container">
          <div class="desktop-40 desktop-push-30 ls-tablet-50 ls-tablet-push-25 pt-tablet-60 pt-tablet-push-20" id="link-mighty">
            <div class="mighty-title">Small but <span>Mighty</span></div>
          </div>
        </div>
        <div class="grid-container">
          <div class="desktop-55 desktop-push-10 ls-tablet-55 ls-tablet-push-5 pt-tablet-55 pt-tablet-push-0 ls-phone-50 mighty-left">
            <div class="video video-1">
              <video width="100%" height="100%" controls class="hidden">
                <source src="{{ 'cpd_video_01_stop_motion.mp4' | asset_url }}" type="video/mp4">
              </video>
              <div class="img-placeholder imagem16x9 video-image-1" style="background-image:url('{{ 'cpd_video_placeholder_01.jpg' | asset_url }}')"></div>
            </div>
          </div>
          <div class="desktop-25 desktop-push-15 ls-tablet-30 ls-tablet-push-10 pt-tablet-40 pt-tablet-push-5 ls-phone-50 mighty-right">
            <div class="mighty-image-container">
              <img src="{{ 'cpd_proteins_cup_2x.png' | asset_url }}" alt="Juice">
            </div>
            <div class="text-container">
              <div class="wrap">
                <div class="text-title">17g protein per 2oz shot</div>
                <div class="text">One shot per day it's all you need</div>
              </div>
              <div class="wrap">
                <div class="text-title">Whey + Collagen protein</div>
                <div class="text">To support muscle mass & strength</div>
              </div>
              <div class="wrap">
                <div class="text-title">No artificial sweeteners, ever</div>
                <div class="text">Patient approved taste</div>
              </div>
              <div class="wrap">
                <div class="text-title">Contains all 20 amino acids</div>
                <div class="text">To keep immune system strong</div>
              </div>
            </div>
            <div class="btn-container">
              <a href="#link-protein-drink" class="btn anchor" title="Buy Now">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="options-section">
        <div class="grid-container">
          <div class="desktop-60 desktop-push-20 ls-tablet-60 ls-tablet-push-20 pt-tablet-80 pt-tablet-push-10">
            <div class="options-section-title">VidaFuel dietitians have compiled superior protein options for you to incorporate into your diet.</div>
          </div>
          <div class="desktop-80 desktop-push-10 ls-tablet-90 ls-tablet-push-5 pt-tablet-100 pt-tablet-push-0">
            <div class="option-list">
              <div class="option-wrap">
                <div class="option-title">All 9 Essential Amino Acids</div>
                <div class="option-text">Amino acids are vital for functions such as protein synthesis, tissue repair and nutrient absorption.</div>
              </div>
              <div class="option-wrap">
                <div class="option-title">Collagen protein</div>
                <div class="option-text">Collagen is the major protein in our bones and connective tissues, and helps to support skin, joint, and bone health.</div>
              </div>
              <div class="option-wrap">
                <div class="option-title">Whey protein</div>
                <div class="option-text">Whey is fast digesting and contains branched-chain amino acids that helps to maintain muscle mass and strength.</div>
              </div>
            </div>
            <div class="btn-container">
              <a href="#link-protein-drink" class="btn anchor" title="Buy Now">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="mission-section">
        <div class="grid-container">
          <div class="desktop-30 desktop-push-5 ls-tablet-40 ls-tablet-push-5 pt-tablet-35 pt-tablet-push-5">
            <div class="mission-title">Bette Parolini, founder & CEO</div>
            <div class="mission-text">Our mission is to develop powerful, nutrition boosting products that are easy to incorporate into your day!</div>
            <div class="btn-container">
              <a href="#link-protein-drink" class="btn anchor" title="Buy Now">Buy Now</a>
            </div>
          </div>
          <div class="desktop-60 desktop-push-5 ls-tablet-45 ls-tablet-push-10 pt-tablet-55 pt-tablet-push-5">
            <div class="video video-2">
              <video width="100%" height="100%" controls class="hidden">
                <source src="{{ 'cpd_video_02_vidafuel_interview_Q1_08272104.mp4' | asset_url }}" type="video/mp4">
              </video>
              <div class="img-placeholder imagem16x9 video-image-2" style="background-image:url('{{ 'cpd_video_placeholder_02.jpg' | asset_url }}')"></div>
            </div>
            <div class="video">
              
            </div>
          </div>
        </div>
      </div>
      <div class="protein-drink-section">
        <div class="grid-container" id="link-protein-drink">
          <div class="desktop-80 desktop-push-10 ls-tablet-100 ls-tablet-push-0 pt-tablet-100 pt-tablet-push-0">
            <div class="protein-title">Wellness Protein Drink</div>
            <div class="protein-subtitle">Save 15% on your first order.</div>
            <div class="produtos-list">
                {% for product in collections.all.products %}
	            	{% if product.id == 1928836186154 %}
		               <div class="produtos-item">
                            <div class="img-wrapper"><img src="{{ product | img_url: '600x600' }}" alt="{{ product.title }}"/></div>
                            <div class="produto-item-title">{{ product.title }}</div>
	                       {% form 'product', product, class:'product-form product-form-product-template product-form--payment-button-no-variants', novalidate: 'novalidate', data-product-form: '' %}
                         	  {% unless product.has_only_default_variant %}
                                {% for option in product.options_with_values %}
                                  <div class="selector-wrapper js product-form__item">
                                    <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                                      {{ option.name }}
                                    </label>
                                    <select class="single-option-selector single-option-selector-product-template product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                                      {% for value in option.values %}
                                        <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                                      {% endfor %}
                                    </select>
                                  </div>
                                {% endfor %}
                              {% endunless %}
                         	  <select name="id" id="ProductSelect-product-template" class="product-form__variants no-js">
                                  {% for variant in product.variants %}
                                    {% if variant.available %}
                                      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                                        {{ variant.title }}
                                      </option>
                                    {% else %}
                                      <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                                    {% endif %}
                                  {% endfor %}
                              </select>
							  <div class="produto-qty-container">
                                <div class="produto-small-label">Quantity</div>
                                <div class="inner">
                                  <button type="button" class="qty-btn left"></button>
                                  <input type="text" name="quantity" value="1" readonly class="product-form__input" data-quantity-input>
                                  <button type="button" class="qty-btn right"></button>
                                </div>
                              </div>
                            <div class="price-container"><span class="price-label">Total:</span> <span class="price-number cut">$ 34.99</span><span class="price-number">$ 29.74</span></div>
                            <div class="btn-container"><a href="javascript:;" class="btn" title="Add to cart">Add to cart</a></div>
                             <button 
                                  type="submit" 
                                  name="add" 
                                  data-add-to-cart 
                                  aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}" 
                                  class="button product-form__cart-submit shopify-add-to-cart-button {% if product.selected_or_first_available_variant.metafields.bold_rp.rp_group_id %} bold-hidden{% endif %}">
                                {%- comment -%}button additional class before Mosheh's change
                                {% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}
                                {%- endcomment -%}
                                <span data-add-to-cart-text>
                                    Add to cart
                                </span>
                              {%- comment -%}
                                <span class="hide" data-loader>
                                  {% include 'icon-spinner' %}
                                </span>
                              {%- endcomment -%}
                              </button>
	                        {% endform %}
                        </div>
              {% endif %}
             	  {% if product.id == 4373693726762 %}
	              {%- assign current_variant = product.selected_or_first_available_variant -%}
                      <div class="produtos-item">
                        <div class="img-wrapper"><img src="{{ product | img_url: '600x600' }}" alt="{{ product.title }}"></img></div>
                        <div class="produto-item-title">{{ product.title }}</div>
			            {% form 'product', product, class:'product-form product-form-product-template product-form--payment-button-no-variants', novalidate: 'novalidate', data-product-form: '' %}
                          <select name="id" class="product-form__variants">
                            {% for variant in product.variants %}
                            {% if variant.available %}
                            <option data-price="{{ variant.price }}" {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                              {{ variant.title }}
                            </option>
                            {% else %}
                            <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                            {% endif %}
                            {% endfor %}
                          </select>
                          <div class="produto-qty-container">
                                <div class="produto-small-label">Quantity</div>
                                <div class="inner">
                                  <button type="button" class="qty-btn left"></button>
                                  <input type="text" name="quantity" value="1" readonly class="product-form__input" data-quantity-input>
                                  <button type="button" class="qty-btn right"></button>
                                </div>
                          </div>
                          <div class="price-container"><span class="price-label">Total:</span> <span class="price-number cut">$ 19.99</span><span class="price-number">$ 16.99</span></div>
                          <div class="btn-container"><a href="javascript:;" class="btn" title="Add to cart">Add to cart</a></div>
			              <button 
                                  type="submit" 
                                  name="add" 
                                  data-add-to-cart 
                                  aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}" 
                                  class="button product-form__cart-submit shopify-add-to-cart-button {% if product.selected_or_first_available_variant.metafields.bold_rp.rp_group_id %} bold-hidden{% endif %}">
                                {%- comment -%}button additional class before Mosheh's change
                                {% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}
                                {%- endcomment -%}
                                <span data-add-to-cart-text>
                                    Add to cart
                                </span>
                              {%- comment -%}
                                <span class="hide" data-loader>
                                  {% include 'icon-spinner' %}
                                </span>
                              {%- endcomment -%}
                              </button>
              	        {% endform %}
                      </div>
                  {% endif %}
             	  {% if product.id == 4373694283818 %}
                    <div class="produtos-item">
                      {% form 'product', product, class:'product-form product-form-product-template product-form--payment-button-no-variants', novalidate: 'novalidate', data-product-form: '' %}
                                <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
                                  {% for variant in product.variants %}
                                    {% if variant.available %}
                                      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                                        {{ variant.title }}
                                      </option>
                                    {% else %}
                                      <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                                    {% endif %}
                                  {% endfor %}
                                </select>
                        <div class="img-wrapper"><img src="{{ product | img_url: '600x600' }}" alt="{{ product.title }}"></img></div>
                        <div class="produto-item-title">{{ product.title }}</div>
                        <div class="produto-qty-container">
                          <div class="produto-small-label">Quantity</div>
                          <div class="inner">
                            <button class="qty-btn left"></button>
                            <div class="qty-label">1</div>
                            <button class="qty-btn right"></button>
                          </div>
                        </div>
                        <div class="produtos-tabs">
                          <div class="tab-container">
                            <input id="product_3_single" type="radio" name="product_3" value="sub">
                            <label for="product_3_single" class="row">
                              <div class="circle"></div>
                              <div class="tab-label">One-time purchase</div>
                              <div class="tab-price-cut">$ 19.99</div>
                              <div class="tab-price">$ 16.99</div>
                            </label>
                          </div>
                          <div class="tab-container">
                            <input id="product_3_subscription" type="radio" name="product_3" value="sub">
                            <label for="product_3_subscription" class="row">
                              <div class="circle"></div>
                              <div class="tab-label">Subscribe and Save! 15%!</div>
                              <div class="tab-price-cut">$ 19.99</div>
                              <div class="tab-price">$ 16.99</div>
                              <!-- <div class="separador"></div>
                              <span class="tab-label">Deliver every</span>
                              <select name="delivery_2">
                                <option>1</option>
                              </select>
                              <span class="tab-label black">Month(s)</span> -->
                            </label>
                          </div>
                        </div>
                        <div class="price-container"><span class="price-label">Total:</span> <span class="price-number cut">$ 19.99</span><span class="price-number">$ 16.99</span></div>
                        <div class="btn-container"><a href="javascript:;" class="btn" title="Add to cart">Add to cart</a></div>
                     	                        {% endform %}
                      </div>
                  {% endif %}
	            {% endfor %}

              
              
            </div>
          </div>
        </div>
      </div>
      <div class="review-section">
        <div class="grid-container">
          <div class="desktop-40 desktop-push-20 ls-tablet-50 ls-tablet-push-15 pt-tablet-50 pt-tablet-push-5">
            <div class="review-title">Real Costumer reviews</div>
          </div>
          <div class="desktop-20 desktop-push-20 ls-tablet-20 ls-tablet-push-20 pt-tablet-20 pt-tablet-push-10">
            <div class="slick-arrow-nav"></div>
          </div>
        </div>
        <div class="review-slider">
          <div class="review-item mh">
            <div class="quote-container">
              <img src="{{ 'cpd_ui_quotes.svg' | asset_url }}" alt="quote">
              <span class="quote-label">Love this!</span>
            </div>
            <div class="review-text">I love this drink! It is so easy to get my protein and collagen in daily. Since I had weight loss surgery its been hard to get that extra protein in. Now it is so easy because its a small amount daily. I swear since I started taking this my hair isn't falling out as much. Yay</div>
            <div class="user-container">
              <div class="user-pfp-container">
                <img src="{{ 'cpd_reviews_01.jpg' | asset_url }}" alt="User1">
              </div>
              <div class="user-info-container">
                <div class="user-name">Cindy D.</div>
                <div class="review-rate-container">
                  <span class="review-rate-label">Verified Buyer</span>
                  <span class="star-container"><span></span><span></span><span></span><span></span><span></span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="review-item mh">
            <div class="quote-container">
              <img src="{{ 'cpd_ui_quotes.svg' | asset_url }}" alt="quote">
              <span class="quote-label">Great taste!!!</span>
            </div>
            <div class="review-text">I been looking for something that doesn't give a bad after taste!!!! And I found it and it helps me complete my intake of protein everyday</div>
            <div class="user-container">
              <div class="user-pfp-container">
                <img src="{{ 'cpd_reviews_02.jpg' | asset_url }}" alt="User1">
              </div>
              <div class="user-info-container">
                <div class="user-name">Lashawn D.</div>
                <div class="review-rate-container">
                  <span class="review-rate-label">Verified Buyer</span>
                  <span class="star-container"><span></span><span></span><span></span><span></span><span></span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="review-item mh">
            <div class="quote-container">
              <img src="{{ 'cpd_ui_quotes.svg' | asset_url }}" alt="quote">
              <span class="quote-label">Thanks so much for changing</span>
            </div>
            <div class="review-text">Thanks so much for changing the way you billed for multiples. Being able to choose all Berry Delight made my day!! </div>
            <div class="user-container">
              <div class="user-pfp-container">
                <img src="{{ 'cpd_reviews_03.jpg' | asset_url }}" alt="User1">
              </div>
              <div class="user-info-container">
                <div class="user-name">Carol B.</div>
                <div class="review-rate-container">
                  <span class="review-rate-label">Verified Buyer</span>
                  <span class="star-container"><span></span><span></span><span></span><span></span><span></span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="review-item mh">
            <div class="quote-container">
              <img src="{{ 'cpd_ui_quotes.svg' | asset_url }}" alt="quote">
              <span class="quote-label">But how is it so good?</span>
            </div>
            <div class="review-text">It's delicious<br>You don't need much to get a good protein dosage<br>Blends well with food and drinks no clumping<br>No excess gas of any kind, probiotics help with digestion<br>I am a really big fan of this protein.</div>
            <div class="user-container">
              <div class="user-pfp-container">
                <img src="{{ 'cpd_reviews_01.jpg' | asset_url }}" alt="User1">
              </div>
              <div class="user-info-container">
                <div class="user-name">Gilliann C.</div>
                <div class="review-rate-container">
                  <span class="review-rate-label">Verified Buyer</span>
                  <span class="star-container"><span></span><span></span><span></span><span></span><span></span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="grid-container">
      <div class="desktop-80 desktop-push-10 ls-tablet-90 ls-tablet-push-5 pt-tablet-90 pt-tablet-push-5">
        <div class="footer-text">The statements herein have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease. Dietary choices are each individual's responsibility</div>
      </div>
    </div>
    <div class="copyright">漏 {{ 'now' | date: "%Y" }}, Vida-Fuel</div>
    <div class="powered-by">Powered by Shopify</div>
  </footer>
</body>
<script src="{{ 'cpd_plugins.js' | asset_url }}"></script>
<script>
  $(document).ready(function() {

    setTimeout(function() {
      AOS.init({
        offset: -200
      });
    }, 200);

    var root = $('html,body');
	
    $(".qty-btn.left").click(function(e){
      var elInput = $($(this).parent().find("input"));
      if(parseInt(elInput.val()) >=2 )
        elInput.val(parseInt(elInput.val())-1);
    });
    
    $(".qty-btn.right").click(function(e){
      var elInput = $($(this).parent().find("input"));
      elInput.val(parseInt(elInput.val())+1);
    });
    
    $(".video-1 video").get(0).onended = function() {
        $(".video-image-1").removeClass("hidden");
        $(".video-1 video").addClass("hidden");
    };

    $(".video-2 video").get(0).onended = function() {
        $(".video-image-2").removeClass("hidden");
        $(".video-2 video").addClass("hidden");
    };

    $(".video-image-1").click(function(e)
    {
        $(".video-image-1").addClass("hidden");
        $(".video-1 video").removeClass("hidden");
        $(".video-1 video").get(0).play();
        
    });

    $(".video-image-2").click(function(e)
    {
        $(".video-image-2").addClass("hidden");
        $(".video-2 video").removeClass("hidden");
        $(".video-2 video").get(0).play();
    });

    function smoothScrollingTo(target) {
      var target = $(target);
      if (target.length) {
        root.animate({
          scrollTop: target.offset().top
        }, 600, "swing");
      }
    }

    $('a.anchor').on('click', function(event) {
      event.preventDefault();
      smoothScrollingTo(this.hash);
    });
    if ($('.mh').length) {
      $('.mh').matchHeight(true);
    }
    if ($('.review-slider .review-item').length) {
      $('.review-slider').slick({
        slidesToShow: 3.5,
        slidesToScroll: 1,
        arrows: true,
        fade: false,
        dots: false,
        draggable: true,
        appendArrows: '.slick-arrow-nav',
        autoplay: false,
        infinite: false,
        responsive: [{
            breakpoint: 414,
            settings: {
              slidesToShow: 1.1,
              slidesToScroll: 1,
            }
          },
          {
            breakpoint: 667,
            settings: {
              slidesToShow: 1.2,
              slidesToScroll: 1,
            }
          },
          {
            breakpoint: 737,
            settings: {
              slidesToShow: 1.7,
              slidesToScroll: 1,
            }
          },
          {
            breakpoint: 814,
            settings: {
              slidesToShow: 1.5,
              slidesToScroll: 1,
            }
          },
          {
            breakpoint: 1025,
            settings: {
              slidesToShow: 2.5,
              slidesToScroll: 1,
            }
          },
          {
            breakpoint: 1600,
            settings: {
              slidesToShow: 3.5,
              slidesToScroll: 1,
            }
          },
          {
            breakpoint: 2561,
            settings: {
              slidesToShow: 3.5,
              slidesToScroll: 1,
            }
          },
        ]
      });
    }

  });
</script>
