<link rel="stylesheet" href="https://use.typekit.net/xbq8sxe.css">
<link rel="stylesheet" href="{{ 'healthcare-professionals.css' | asset_url }}">

<div id="healthcare">
  
  <!-- page title -->
  <div class="healthcare-page-title">
    <div class="wrapper centertext">
  		<h1 class="trade_gothic_condensed_bold">NEW Protein Supplement</h1>
    </div>
  </div>
  
  <!-- feature -->
  <div class="healthcare-feature" class="trade_gothic">
    <div class="wrapper">
      <div class="inner">
		<div class="table">
          <div class="cell text">
            <div class="title trade_gothic_condensed_heavy">
              Request Clinic Samples
            </div>
            Dietitian Developed for Optimal Absorption.<br />
			Patient Approved Taste. 
          </div>
          <div class="cell image">
            <img src="{{ 'healthcare-01.png' | asset_url }}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- about -->
  <div class="healthcare-about">
    <div class="wrapper">
      <div class="inner">
        <div class="table">
          <div class="cell text">
            <div class="title trade_gothic_condensed_bold">Small but Mighty</div>
            <p>Not at all proteins are equal. See how Vidafuel is superior.</p>
            <a href="https://cdn.shopify.com/s/files/1/0922/1906/files/Protein_Specific_Flyer_Back.pdf?v=1584484024" target="_blank" class="button blue">Comp Chart</a>
          </div>
          <div class="cell image">
            <div class="table">
              <div class="cell centertext">
          	    <img src="{{ 'healthcare-02.png' | asset_url }}" alt="" />
              </div>
              <div class="cell bullets trade_gothic_bold">
                <ul>
                  <li>16g of complete protein in 2oz</li>
                  <li>No dilution required</li>
                  <li>Easy to swallow texture</li>
                  <li>No artificial sweeteners or colors</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- request form -->
  <div class="healthcare-form">
    <div class="wrapper">
      <div class="inner">
        <div class="title centertext uppercase trade_gothic_condensed_bold">Sample Request Form</div>
        <div class="formwrap">
          <form id="email_signup" class="klaviyo_styling klaviyo_gdpr_embed_USj559" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
            <input type="hidden" name="g" value="USj559">
            <input type="hidden" name="$fields" value="first_name,last_name,phone_number,email,organization,address1,city,region,zip">
            <div class="klaviyo_field_group">
              <label for="k_id_first_name" class="hide">First Name</label>
              <input class="" type="text" value="" name="first_name" id="k_id_first_name" placeholder="First Name" required/>
              <label for="k_id_last_name" class="hide">Last Name</label>
              <input class="" type="text" value="" name="last_name" id="k_id_last_name" placeholder="Last Name" required/>
              <label for="k_id_office_phone" class="hide">Office Phone</label>
              <input class="" type="text" value="" name="phone_number" id="k_id_office_phone" placeholder="Office Phone" required/>
              <label for="k_id_email" class="hide">Email</label>
              <input class="" type="email" value="" name="email" id="k_id_email" placeholder="Email" required/>
              <label for="k_id_institution_name" class="hide">Institution Name</label>
              <input class="" type="text" value="" name="organization" id="k_id_institution_name" placeholder="Institution Name" required/>
              <label for="k_id_institution_address" class="hide">Institution Address</label>
              <input class="" type="text" value="" name="address1" id="k_id_institution_address" placeholder="Institution Address" required/>
              <div class="three-columns">
                <div>
                  <label for="k_id_city" class="hide">City</label>
                  <input class="" type="text" value="" name="city" id="k_id_city" placeholder="City" required/>
                </div>
                <div>
                  <label for="k_id_region" class="hide">State</label>
                  <input class="" type="text" value="" name="region" id="k_id_region" placeholder="State" required/>
                </div>
                <div>
                  <label for="k_id_zip" class="hide">Zip Code</label>
                  <input class="" type="text" value="" name="zip" id="k_id_zip" placeholder="Zip Code" required/>
                </div>
              </div>
            </div>
            <div class="klaviyo_messages">
              <div class="success_message" style="display:none;"></div>
              <div class="error_message" style="display:none;"></div>
            </div>
            <div class="klaviyo_form_actions">
              <button type="submit" class="klaviyo_submit_button">Request Now</button> </div>
          </form>
          <style type="text/css">
            .klaviyo_styling.klaviyo_gdpr_embed_USj559,
            .klaviyo_condensed_styling.klaviyo_gdpr_embed_USj559 {
              font-family: "Helvetica Neue", Arial;
              max-width: 100%;
              padding: 35px;
            }

            .klaviyo_styling.klaviyo_gdpr_embed_USj559 .klaviyo_helptext,
            .klaviyo_condensed_styling.klaviyo_gdpr_embed_USj559 .klaviyo_helptext {
              font-family: "Helvetica Neue", Arial;
              padding-top: 10px;
              padding-bottom: 10px;
            }

            .klaviyo_styling.klaviyo_gdpr_embed_USj559 .klaviyo_gdpr_text,
            .klaviyo_condensed_styling.klaviyo_gdpr_embed_USj559 .klaviyo_gdpr_text {
              font-size: 14px;
              line-height: 1.3;
            }

            .klaviyo_styling.klaviyo_gdpr_embed_USj559 label,
            .klaviyo_condensed_styling.klaviyo_gdpr_embed_USj559 label {
              color: #222;
            }
            
            .klaviyo_styling .klaviyo_field_group{
            	margin-bottom: 0px;
            }
            
            .klaviyo_styling .klaviyo_field_group .klaviyo_form_actions {
              text-align: left;
            }

            .klaviyo_styling.klaviyo_gdpr_embed_USj559 input[type=checkbox]+label,
            .klaviyo_condensed_styling.klaviyo_gdpr_embed_USj559 input[type=checkbox]+label {
              display: inline;
              font-weight: normal;
              padding-left: 5px;
            }

            .klaviyo_styling.klaviyo_gdpr_embed_USj559 input[type=text],
            .klaviyo_styling.klaviyo_gdpr_embed_USj559 input[type=email],
            .klaviyo_condensed_styling.klaviyo_gdpr_embed_USj559 input[type=text],
            .klaviyo_condensed_styling.klaviyo_gdpr_embed_USj559 input[type=email] {
              border-radius: 2px;
            }

            .klaviyo_styling.klaviyo_gdpr_embed_USj559 .klaviyo_submit_button,
            .klaviyo_condensed_styling.klaviyo_gdpr_embed_USj559 .klaviyo_submit_button {
              background-color: rgb(75, 189, 170);
              border-radius: 2px;
              width: 100%;
              font-size: 16px;
              height: auto;
              line-height: 1.15;
            }
            .error{
            	
            }
          </style>
          <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
          <script type="text/javascript">
            KlaviyoSubscribe.attachToForms('#email_signup', {
              hide_form_on_success: true,
              success_message: "<b>Thank you!</b><br>Check your email for a confirmation message.",
              extra_properties: {
                $source: '$embed',
                $method_type: "Klaviyo Form",
                $method_id: 'embed',
                $consent_version: 'Embed default text'
              }
            });
          </script>
          
          {%comment%}
          <div class="klaviyo-form-UWn27J"></div>
          
          {% form 'contact' %}
          
            {% if form.posted_successfully? %}
          
              <p class="centertext" style="color:#ffffff; font-size:20px;">Thank you for your submission. We will be in touch with you shortly!</p>
          
          	{% else %}
          
              {{ form.errors | default_errors }}

              <div class="clearfix">
                <div class="floatleft">
                  <div class="field">
                    <input type="text" 
                           name="contact[name]"
                           value="Name (First and Last) *" 
                           onBlur="if(this.value == '') { this.value='Name (First and Last) *'}" 
                           onFocus="if (this.value == 'Name (First and Last) *') {this.value=''}" />
                  </div>
                </div>
                <div class="floatright">
                  <div class="field">
                    <select name="contact[Credential Type]">
                      <option value="">Credential Type</option>
                      <option value="Physician">Physician</option>
                      <option value="PA">PA</option>
                      <option value="NP">NP</option>
                      <option value="Registered Dietitian">Registered Dietitian</option>
                      <option value="Nurse">Nurse</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="clearfix">
                <div class="floatleft">
                  <div class="field">
                    <input type="text" 
                           name="contact[phone]" 
                           value="Office Phone *"
                           onBlur="if(this.value == '') { this.value='Office Phone *'}" 
                           onFocus="if (this.value == 'Office Phone *') {this.value=''}" />
                  </div>
                </div>
                <div class="floatright">
                  <div class="field">
                    <input type="text" 
                           name="contact[email]"
                           value="Email *"
                           onBlur="if(this.value == '') { this.value='Email *'}" 
                           onFocus="if (this.value == 'Email *') {this.value=''}" />
                  </div>
                </div>
              </div>
              <div class="clearfix">
                <div class="floatleft">
                  <div class="field">
                    <input type="text" 
                           name="contact[Institution name]"
                           value="Institution name"
                           onBlur="if(this.value == '') { this.value='Institution name'}" 
                           onFocus="if (this.value == 'Institution name') {this.value=''}" />
                  </div>
                </div>
                <div class="floatright">
                  <div class="field">
                    <input type="text" 
                           name="contact[Institution address]"
                           value="Institution address"
                           onBlur="if(this.value == '') { this.value='Institution address'}" 
                           onFocus="if (this.value == 'Institution address') {this.value=''}" />
                  </div>
                </div>
              </div>
              <div class="clearfix">
                <div class="floatleft">
                  <div class="field">
                    <input type="text" 
                           name="contact[City]"
                           value="City"
                           onBlur="if(this.value == '') { this.value='City'}" 
                           onFocus="if (this.value == 'City') {this.value=''}" />
                  </div>
                </div>
                <div class="floatright">
                  <div class="field">
                    <input type="text" 
                           name="contact[State]"
                           value="State"
                           onBlur="if(this.value == '') { this.value='State'}" 
                           onFocus="if (this.value == 'State') {this.value=''}" />
                  </div>
                </div>
              </div>
              <div class="clearfix">
                <div class="floatleft">
                  <div class="field">
                    <input type="text"
                           name="contact[Zipcode]"
                           value="Zipcode"
                           onBlur="if(this.value == '') { this.value='Zipcode'}" 
                           onFocus="if (this.value == 'Zipcode') {this.value=''}" />
                  </div>
                </div>
                <div class="floatright">
                  <input type="hidden" name="contact[body]" value="Sample Request" />
                  <input type="submit" value="Request Now" onClick="ga('send', 'event', 'lead', 'form', 'healthcarepage');" />
                </div>
              </div>
          
            {% endif %}

          {% endform %}
          {%endcomment%}
        </div>
      </div>
    </div>
  </div>
  
  <!-- textblock -->
  <div class="healthcare-textblock">
    <div class="wrapper">
      <div class="inner centertext">
        <div class="title uppercase trade_gothic_condensed_bold">About Us</div>
        <div class="text trade_gothic_bold">
          Vidafuel is an outcomes-driven company dedicated to leading improvement in the 
          nutritional therapy market. Our passionate team of dietitians and scientists leads 
          development of best in class products that provide a superior nutritional profile 
          and patient experience. Our mission is to educate, support and continue to develop 
          innovative nutritional therapy products that enable patients to live longer, happier lives.
        </div>
      </div>
    </div>
  </div>
  
  <!-- cta -->
  <div class="healthcare-cta">
    <div class="wrapper">
      <div class="inner centertext">
        <div class="table">
          <div class="cell">
            <div class="item">
              <img src="{{ 'healthcare-03.png' | asset_url }}" alt="" />
              <p>Download white paper:<br />Clinical and financial value of Oral Nutrition Supplement programs</p>
              <a href="https://cdn.shopify.com/s/files/1/0922/1906/files/2020-VIDAFUEL-White-Paper.pdf?v=1584484018" target="_blank" class="button">Download</a>
            </div>
          </div>
          <div class="cell">
            <div class="item">
              <img src="{{ 'holiday-box-2020.jpg' | asset_url }}" alt="" />
              <p>Our best selling kidney-friendly holiday gift bag for patients is back!</p>
              <a href="https://www.vida-fuel.com/collections/snacks/products/holiday-boxes-2020" class="button">Order Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- distribution -->
  <div class="healthcare-distribution">
    <div class="wrapper">
      <div class="inner centertext">
        <div class="title uppercase">Distributed By</div>
        <img src="{{ 'healthcare-05.png' | asset_url }}" alt="" />
      </div>
    </div>
  </div>
  
  <!-- contact -->
  <div class="healthcare-contact">
    <div class="wrapper">
      <div class="inner centertext">
        <p>Have questions about our products?<br />Reach out to us anytime!</p>
        <p>customercare@vidafuel.com <span>|</span> (615) 430-8733</p>
      </div>
    </div>
  </div>
  
</div>

<script src="{{ 'jquery.validate.min.js' | asset_url }}"></script>
<script>
jQuery.validator.addMethod("defaultInvalid", function(value, element) {
  switch (element.value) {
    case "Name (First and Last) *":
      if (element.name == "contact[name]") return false;
      break;
    case "Email *":
      if (element.name == "contact[email]") return false;
      break;
    case "Office Phone *":
      if (element.name == "contact[phone]") return false;
      break;
    default: return true; 
      break;
  }
},  'This field is required.');
jQuery(function($){

    if ($('#healthcare .healthcare-form .formwrap form').length) {
      
      $('#healthcare .healthcare-form .formwrap form').validate({		
        rules: {
          'contact[name]': {
            required: true,
            defaultInvalid: true
          },
          'contact[email]': {
            required: true,
            email: true,
            defaultInvalid: true
          },
          'contact[phone]': {
            required: true,
            defaultInvalid: true
          }
        }
      });
      
    }

});
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/1.1/modernizr.min.js"></script>

<script>
$(document).ready(function () {
  
  if(!Modernizr.input.placeholder){
    $("input").each(function(){
      if($(this).val()=="" && $(this).attr("placeholder")!=""){
        $('label[for="'+ $(this).attr('id') +'"]').removeClass('hide');
      }
    });
  }
  
});
</script>