<link rel="stylesheet" href="https://use.typekit.net/xbq8sxe.css">
<link rel="stylesheet" href="{{ 'healthcare-professionals.css' | asset_url }}">

<div id="healthcare">
  
  <!-- page title -->
  <div class="healthcare-page-title">
    <div class="wrapper centertext">
  		<h1 class="trade_gothic_condensed_bold">NEW Protein Supplement</h1>
    </div>
  </div>
  
  <!-- feature -->
  <div class="healthcare-feature" class="trade_gothic">
    <div class="wrapper">
      <div class="inner">
		<div class="table">
          <div class="cell text">
            <div class="title trade_gothic_condensed_heavy">
              Clinical nutrition done right
            </div>
            Dietitian Developed for Optimal Absorption.
          </div>
          <div class="cell image">
            <img src="{{ 'healthcare-01.png' | asset_url }}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- about -->
  <div class="healthcare-about">
    <div class="wrapper">
      <div class="inner">
        <div class="table">
          <div class="cell text">
            <div class="title trade_gothic_condensed_bold">Small but Mighty</div>
            <p>Not all proteins are equal. See how Vidafuel is superior.</p>
            <a href="https://cdn.shopify.com/s/files/1/0922/1906/files/VF_ProteinSpecificFlyer_Back_Jan_2020.jpg?v=1612328194" target="_blank" class="button blue">Comp Chart</a>
          </div>
          <div class="cell image">
            <div class="table">
              <div class="cell centertext">
          	    <img src="{{ 'healthcare-02.png' | asset_url }}" alt="" />
              </div>
              <div class="cell bullets trade_gothic_bold">
                <ul>
                  <li>16g of complete protein in 2oz</li>
                  <li>No dilution required</li>
                  <li>Easy to swallow texture</li>
                  <li>No artificial sweeteners or colors</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- request form -->
  <div class="healthcare-form">
    <div class="wrapper">
      <div class="inner">
        <div class="title centertext uppercase trade_gothic_condensed_bold">Learn more</div>
        <div class="formwrap">
          <div class="klaviyo-form-XfN77h" id="healthcare-form"></div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- textblock -->
  <div class="healthcare-textblock">
    <div class="wrapper">
      <div class="inner centertext">
        <div class="title uppercase trade_gothic_condensed_bold">About Us</div>
        <div class="text trade_gothic_bold">
          Vidafuel is an outcomes-driven company dedicated to leading improvement in the 
          nutritional therapy market. Our passionate team of dietitians and scientists leads 
          development of best in class products that provide a superior nutritional profile 
          and patient experience. Our mission is to educate, support and continue to develop 
          innovative nutritional therapy products that enable patients to live longer, happier lives.
        </div>
      </div>
    </div>
  </div>
  
  <!-- cta -->
  <div class="healthcare-cta">
    <div class="wrapper">
      <div class="inner centertext">
        <div class="table">
          <div class="cell">
            <div class="item">
              <img src="{{ 'healthcare-03.png' | asset_url }}" alt="" />
              <p>Download white paper:<br />Clinical and financial value of Oral Nutrition Supplement programs</p>
              <a href="https://cdn.shopify.com/s/files/1/0922/1906/files/2020-VIDAFUEL-White-Paper.pdf?v=1584484018" target="_blank" class="button">Download</a>
            </div>
          </div>
          <div class="cell">
            <div class="item">
              <img src="{{ 'VidaFuel-Protein-wCup.jpg' | asset_url }}" alt="" />
              <p>Shop our best-selling Protein Drinks!</p>
              <a href="https://www.vida-fuel.com/collections/wellness-protein-supplements" class="button">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- distribution -->
  <div class="healthcare-distribution">
    <div class="wrapper">
      <div class="inner centertext">
        <div class="title uppercase">Distributed By</div>
        <img src="{{ 'healthcare-05.png' | asset_url }}" alt="" />
      </div>
    </div>
  </div>
  
  <!-- contact -->
  <div class="healthcare-contact">
    <div class="wrapper">
      <div class="inner centertext">
        <p>Have questions about our products?<br />Reach out to us anytime!</p>
        <p>customercare@vidafuel.com <span>|</span> (615) 430-8733</p>
      </div>
    </div>
  </div>
  
</div>

<script src="{{ 'jquery.validate.min.js' | asset_url }}"></script>
<script>
jQuery.validator.addMethod("defaultInvalid", function(value, element) {
  switch (element.value) {
    case "Name (First and Last) *":
      if (element.name == "contact[name]") return false;
      break;
    case "Email *":
      if (element.name == "contact[email]") return false;
      break;
    case "Office Phone *":
      if (element.name == "contact[phone]") return false;
      break;
    default: return true; 
      break;
  }
},  'This field is required.');
jQuery(function($){

    if ($('#healthcare .healthcare-form .formwrap form').length) {
      
      $('#healthcare .healthcare-form .formwrap form').validate({		
        rules: {
          'contact[name]': {
            required: true,
            defaultInvalid: true
          },
          'contact[email]': {
            required: true,
            email: true,
            defaultInvalid: true
          },
          'contact[phone]': {
            required: true,
            defaultInvalid: true
          }
        }
      });
      
    }

});
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/1.1/modernizr.min.js"></script>

<script>
$(document).ready(function () {
  
  if(!Modernizr.input.placeholder){
    $("input").each(function(){
      if($(this).val()=="" && $(this).attr("placeholder")!=""){
        $('label[for="'+ $(this).attr('id') +'"]').removeClass('hide');
      }
    });
  }
  
});
</script>